/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 102px;
  padding-block: 100px;
  color: var(--accent-color, #000);
  font-family: var(--main-font, 'Inter'), sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-image:
    var(--background-image,
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-text-font-weight, 400);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  padding-block-start: clamp(120px, 25vw, 135px);
  padding-block-end: 22px;
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: 400;
}

.header_width {
  inline-size: var(--section-width, 100%);
}

.content-section {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--main-color, #fff);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: clamp(3px, calc(100vw / 200), 4px);
  padding-inline-start: 22px;
}

.theme-menu__button {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-left: none;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 0;
  opacity: 0.6;
  background-color: var(--accent-color, #000);
  transition: width 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  outline: none;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -22px;
  animation: pointer 0.5s infinite alternate ease-in-out;
}

.content_width {
  inline-size: var(--section-width, 100%);
}

.section {
  inline-size: 100%;
}

.section__article-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__title {
  --card-text-font-weight: var(--card-title-font-weight, 700);
  padding: 3px 10px 4px;
  font-size: 18px;
  line-height: 22px;
  
  font-variation-settings: 'wght' var(--card-text-font-weight, 400);
}

.image-wrapper {
  position: relative;
  border-top: none;
  border-right: 2px solid var(--accent-color, #000);
  border-bottom: none;
  border-left: 2px solid var(--accent-color, #000);
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.image-label {
  position: absolute;
  top: clamp(25px, 1.8vw, 27px);
  right: clamp(13px, 1.8vw, 25px);
  z-index: 2;
  opacity: 0.5;
  color: var(--accent-color, #000);
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-shadow: 1px 1px 0 0 var(--text-stroke, #fff);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-label {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--text-stroke, #fff);
  }
} 

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__image_filter-brightness {
  filter: brightness(200%);
}

.card__image_filter-blur {
  filter: blur(3px);
}

.card__image_filter-contrast {
  filter: contrast(200%);
}

.card__image_filter-grayscale {
  filter: grayscale(0.3);
}

.card__image_filter-saturate {
  filter: saturate(200%);
}

.card__image_filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.card__image_filter-mix {
  filter: invert(1) brightness(200%) saturate(60%);
}

.card__image_filter-sepia {
  filter: sepia(40%);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: clamp(25px, 1.9vw, 27px);
  padding: 25px 25.5px;
}

.card__content p:first-child {
  margin-block-end: 2px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-end;
}

.card__icon-button {
  border: none;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
  inline-size: 41px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.sparks {
  opacity: 0;
}

.core {
  opacity: 0;
  transition: opacity 0.3s 0.03s linear;
}

.contour {
  fill: var(--heart-contur-color, #000);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  opacity: 1;
  fill: var(--heart-contur-color, #000);
  transition: opacity 0.3s linear;
}

.main-body {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  fill: var(--heart-contur-color, #000);
  transition: opacity 0.3s 0.05s linear;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--heart-color, #ff0000);
  transition: opacity 0.3s linear;
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--heart-color, #ff0000);
  transition: opacity 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--heart-color, #ff0000);
  transition: opacity 0.3s linear;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--heart-color, #ff0000);
  transition: opacity 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color, #ff0000);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-show 0.3s ease-in 0.3s 1 alternate;
}

.popup {
  padding: 29.4px 40.4px;
  color: var(--accent-color, #000);
  min-inline-size: 341px;
}

.popup__wrapper {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 1fr;
  row-gap: 30px;
  column-gap: 20px;
}

.popup__text {
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.popup__floppy {
  align-self: center;
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.popup__button {
  grid-column-end: span 2;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.animated {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.decorated {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.animated:focus {
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
  outline: none;
}

.animated::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
  min-block-size: 100%;
  min-inline-size: 100%;
}

.animated:hover::after {
  transform: scaleX(1);
}

.button__text {
  z-index: 2;
  color: var(--button-text-color, #fff);
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  mix-blend-mode: difference;
}

.section-save__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  margin-block-start: 54px;
  border: 2px solid var(--accent-color, #000);
  padding: 16.1px 18.4px;
  background-color: var(--main-color, #fff);
  cursor: pointer;
  appearance: none;
}

.button__floppy {
  z-index: 2;
  color: var(--button-text-color, #fff);
  inline-size: 28px;
  aspect-ratio: 1 / 1;
  mix-blend-mode: difference;
}

.popup {
  padding: 28.4px 40.4px;
  color: var(--accent-color, #000);
  min-inline-size: 341px;
}

.popup[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 1fr;
  row-gap: 30px;
  column-gap: 20px;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.popup__text {
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.popup__floppy {
  align-self: center;
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.popup__button {
  grid-column-end: span 2;
  block-size: 38px;
}

@media (min-width: 376px) {
  :root {
    --pointer-indent: -27px;
  }

  .page {
    padding-block-end: 103px;
  }

  .card__title {
    padding-block-start: 4px;
  }

  .section-save__button {
    flex-direction: row;
    margin-block-start: 50px;
    padding: 15px 20px;
  }

  .button__floppy {
    inline-size: 21px;
  }

  .popup {
    max-inline-size: 353px;
  }
}

@media (min-width: 720px) {
  .header_width {
    --section-width: 700px;
  }

  .content_width {
    --section-width: 696px;
  }
}